<p id="notice"><%= notice %></p>

<h1>Event Menu</h1>

<div>
  <h2>Random Event</h2>
  <%= @randomEvent.date %>
  <%= @randomEvent.description %>
  <%= @randomEvent.extra %>
  <%= link_to 'Edit', edit_event_path(@randomEvent) %>
</div>

<br>

<%= link_to 'New Event', new_event_path %>
